body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* black: #171B2A */
/* gray: #757F95 */

code {
  font-family: "Poppins", sans-serif;
}

.yellow-letter {
  color: #fbc027;
}

h1,
h2,
h3 {
  color: #171b2a;
}

p {
  font-size: 16px;
  margin: 0;
  line-height: 1.8;
  color: #757f95;
}

.line-container {
  display: flex;
  align-items: baseline;
}

.mobile-line {
  width: 90px;
  height: 4px;
  background: #fbc027;
  margin: auto;
  margin-bottom: 16px;
}

.mobile-line-white {
  background: white;
  width: 10px;
  height: 4px;
  margin: auto;
}

.line {
  height: 2px;
  width: 60px;
  background-color: #fbc027;
  margin-right: 20px;
}

.line-title {
  font-size: 16px;
  color: #fbc027;
  margin: 0;
}
