.about {
  padding: 60px 14px;
  position: relative;
}

.about-image {
  max-width: 450px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

.about-image-container {
  padding: 0 20px;
}

.about-image-container img {
  width: 100%;
  height: 100%;
}

.about-image-container::before {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 50px;
  left: 0;
  content: "";
  background: #fbc027;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 12% 100%);
}

.about-shape {
  position: absolute;
  bottom: -24px;
  right: 0;
  z-index: -99;
}

.about-experience {
  background: #fbc027;
  position: absolute;
  left: 48px;
  bottom: 0;
  padding: 17px;
  color: white;
}

.about-experience h1 {
  margin: 0;
}

.about-text-container {
  margin-top: 60px;
}

.about-text {
  font-size: 16px;
  font-weight: normal;
  color: #757f95;
  line-height: 1.8;
}

.about-point {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.about-check {
  background-color: #fbc027;
  padding: 6px;
  font-size: 16px;
  border-radius: 40px;
  color: white;
  margin-right: 18px;
}
