.hero-action {
  margin: 0px 14px;
  margin-top: -140px;
  z-index: 999;
  position: relative;
  color: white;
}

.hero-action-box h3 {
  font-size: 16px;
  font-weight: 600;
}

.hero-action-box svg {
  width: 30px;
  height: 25px;
}

.rastreo {
  color: white;
  background-color: #fbc027;
  border-bottom: 1px solid #fbc027;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 14px 14px;
}

.rastreo h3 {
  color: white;
}

.pickup {
  color: #171b2a;
  background-color: white;
  border-bottom: 1px solid #fbc027;
  padding: 14px 14px;
}

.pickup svg {
  color: #fbc027;
}

.casillero {
  color: #171b2a;
  background-color: white;
  border-bottom: 1px solid #fbc027;
  padding: 14px 14px;
}

.casillero svg {
  color: #fbc027;
}

.envio {
  color: white;
  background-color: #fbc027;
  border-bottom: 1px solid #fbc027;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 14px 14px;
}

.envio h3 {
  color: white;
}
