.form-area {
  padding: 0 14px;
}

.form-shipper {
  display: grid;
  grid-gap: 12px;
}

.form-error {
  font-size: 12px;
  color: #db0101;
  margin-left: 8px;
}

.form-input {
  width: 100%;
}
.form-text-name {
  font-size: 14px;
}

.form-input input {
  padding: 8px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}

.form-input input:active {
  outline: 1px solid #fbc027;
}
