.venezuela-area {
  position: relative;
}
.venezuela-area h1 {
  text-align: center;
  letter-spacing: 14px;
}
.country-image-container {
  position: relative;
}

.overlay-country {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.country-image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.country-name {
  color: white;
  position: absolute;
  top: 50%;
  width: 100%;
  letter-spacing: 4px;
}

.country-service {
  padding: 0 14px;
}

.country-time {
  text-align: center;
}

.country-shipping {
  text-align: center;
}

.country-time h2 {
  text-align: center;
  letter-spacing: 3px;
}

.prohibidos-ul {
  padding: 0 14px;
}

.prohibidos-li {
  margin: 12px 0;
  color: #757f95;
}

.articulos-prohibidos {
  padding: 0 14px;
}

.planilla-container {
  background: #fbc027;
  padding: 12px 8px;
  text-align: center;
  border-radius: 6px;
  letter-spacing: 8px;
  text-decoration: none;
  color: white;
}

.planilla-envio {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.planilla-button-container {
  display: flex;
  justify-content: center;
}

.planilla-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #fbc027;

  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  margin: 20px 0;
  box-shadow: 3px 5px 6px 4px #0000001c;
}

.planilla-button p {
  color: white;
  margin-right: 8px;
}
